#positionElementsHomePageDashboard {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-align: -webkit-center;
  height: 60vh;
  margin-bottom: 4vh;
}
.titlePageDashboard {
  background-color: #094351;
  width: 50vw;
}
h1 {
  font-size: 30px;
  color: white;
}
h3 {
  font-size: 15px;
}
td {
  border: solid 1px;
  width: 100vw;
}

/* ...........................................Gestion des biens */
#managementProperty {
  margin-left: 2vw;
  text-align: start;
  height: 45vh;
  width: 50vw;
}
#dashboardManagementFilters {
  display: flex;
  align-items: center;
}
#inputSearchDashboard {
  border-radius: 20px;
  height: 30px;
  /* margin-right: 1vw; */
  width: 12vw;
}
.btnFilterSelectDashboard {
  margin-right: 1vw;
  font-size: 15px;
  height: 35px;
  background-color: #155109;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  width: 10vw;
}

#btnAddProperty {
  font-size: 15px;
  width: 15vw;
  height: 35px;
  margin-bottom: 5px;
  background-color: #c58b03;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
}

#listOfProperties {
  overflow-y: auto;
  height: 170px;
}

/* .....................................Statistiques */
#statistiquesDashboard {
  background-color: #094351;
  padding: 1%;
  margin-right: 5vw;
  border-radius: 10px;
  width: 30vw;
}
.numberStatistique {
  background-color: #c58b03;
  border-radius: 20px;
  height: 10vh;
  width: 22vw;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 3px;
}

/* ..................................Parameters */
#parametersDashboard {
  margin-left: 2vw;
  /* position: relative; */
}

#titleParameters {
  display: flex;
  align-items: center;
}

#titleChangeContact {
  margin-right: 1vw;
}
.btnUpdateParameters {
  margin-right: 1vw;
  font-size: 15px;
  height: 25px;
  background-color: #094351;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  width: 8vw;
}
#contactDetails {
  display: flex;
  margin-left: 10vw;
}
label {
  font-size: 15px;
}
.inputUpdateAgencyDetails {
  margin-right: 2vw;
  margin-left: 1vw;
  margin-top: 1vh;
  border-radius: 10px;
  font-size: 15px;
}
