#positionElementsHomePageDashboard {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-align: -webkit-center;
}
.titlePageDashboard {
  background-color: #094351;
  width: 60vw;
}
h1 {
  color: white;
  font-size: 30px;
}
h3 {
  font-size: 15px;
}

/* ...........................................Gestion des biens */
#managementProperty {
  margin-left: 2vw;
  text-align: start;
  height: 45vh;
  width: 50vw;
}

#dashboardManagementFilters {
  display: flex;
  align-items: center;
}

#inputSearchDashboard {
  border-radius: 20px;
  height: 30px;
  /* margin-right: 1vw; */
  width: 12vw;
}

.btnFilterSelectDashboard {
  margin-right: 1vw;
  font-size: 15px;
  height: 35px;
  background-color: #155109;
}

p {
  color: white;
  font-size: 20px;
}
td {
  border: solid 1px;
  width: 100vw;
}
/* .......................................Header */
header {
  height: 130px;
  background-color: #094351;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}
#icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

header img {
  overflow: hidden;
  height: 100%;
  margin-left: 15px;
}

header a {
  height: 85%;
}

header i {
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin: auto 15px;
  cursor: pointer;
}
/* ...........................................Gestion des biens */
#managementProperty {
  margin-left: 1vw;
  text-align: start;
  width: 55vw;
}
#dashboardManagementFilters {
  display: flex;
}

.btnFilterSelectDashboard {
  font-size: 15px;
  height: 35px;
  background-color: #155109;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  width: 15vw;
  margin-right: 1vw;
}

#btnAddProperty {
  font-size: 15px;
  width: 15vw;
  height: 35px;
  background-color: #c58b03;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
}

#listOfProperties {
  overflow-y: auto;
  height: 30vh;
  margin-top: 3vh;
}

/* .....................................Statistiques */
#statistiquesDashboard {
  background-color: #094351;
  padding: 1%;
  margin-right: 5vw;
  border-radius: 10px;
  width: 30vw;
}
.numberStatistique {
  background-color: #c58b03;
  border-radius: 20px;
  height: 10vh;
  width: 22vw;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 3px;
}

/* ..................................Parameters */
#parametersDashboard {
  margin-left: 1vw;
  /* position: relative; */
}

#titleParameters {
  display: flex;
  align-items: center;
}

#titleChangeContact {
  margin-right: 1vw;
}
.btnUpdateParameters {
  margin-right: 1vw;
  font-size: 15px;
  height: 25px;
  background-color: #094351;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  width: 8vw;
}
#contactDetails {
  display: flex;
  /* margin-left: 10vw; */
}
label {
  font-size: 15px;
}
.inputUpdateAgencyDetails {
  margin-right: 2vw;
  margin-left: 1vw;
  margin-top: 1vh;
  border-radius: 10px;
  font-size: 15px;
}

footer {
  background-color: #094351;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

footer p {
  margin: 20px auto;
}
