/* HEADER */
header {
  width: 100vw;
  height: fit-content;
}

#responsiveMenu {
  display: none !important;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.364);
  padding-right: 1em;
  z-index: 2;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  font-family: "Palanquin", sans-serif;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: black;
}

/* LANDING PAGE WITH BACKGROUND PICTURE */

#landingPage {
  height: 100vh;
  background: url(../asset/nice.jpg) no-repeat center center;
  background-position: cover;
  display: flex;
  justify-content: center;
}

#researchForm {
  background-color: white;
  position: absolute;
  top: 17vh;
  padding-bottom: 2px;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  align-items: center;
}

#insideForm {
  display: flex;
}

#researchFormContent {
  width: 100%;
}

#rentOrSaleBtns {
  width: 100%;
  display: flex;
  border-top-left-radius: 13px;
  padding: none;
}

label,
input {
  font-family: "Palanquin", sans-serif;
}

input[type="radio"].firstBtn {
  display: none;
}

input[type="radio"].firstBtn.rental + label {
  border-style: none;
  background-color: #448a96;
  color: white;
  font-size: 1.3em;
  border-style: none;
  text-align: center;
  box-shadow: none;
  border-top-left-radius: 13px;
}

input[type="radio"].firstBtn.sale + label {
  border-style: none;
  background-color: #c58b03;
  color: white;
  font-size: 1.3em;
  border-style: none;
  text-align: center;
  box-shadow: none;
  border-top-right-radius: 13px;
}

input[type="radio"].firstBtn.rental:hover + label {
  background-color: #255057;
}

input[type="radio"].firstBtn.rental:checked + label {
  box-shadow: inset 2px 2px 10px #255057;
}

input[type="radio"].firstBtn.sale:hover + label {
  background-color: #6a4c04;
}
input[type="radio"].firstBtn.sale:checked + label {
  box-shadow: inset 2px 2px 10px #6a4c04;
}

#location,
#property,
#rooms,
#area,
#rent,
#seaDistance,
#price {
  display: flex;
  justify-content: space-between;
  padding-right: 0.3em;
}

label,
#location-select,
#type-select,
#roomsInput,
#areaInput,
#rentInput,
#seaDistanceInput,
#priceInput {
  width: 50%;
  padding: 7px;
  margin-bottom: 7px;
}

#rentalBtn {
  width: 50%;
  background-color: #448a96;
  color: white;
  font-size: 1.3em;
  border-style: none;
  border-top-left-radius: 13px;
}

#filterBtn,
#searchBtn {
  display: flex;
  justify-content: center;
}

#searchBtn {
  position: relative;
}

#searchFormBtn {
  position: absolute;
  top: -15px;
}

#moreFiltersBtn,
#searchFormBtn,
#contactBtn,
#visitBtn {
  border-radius: 10px;
  background-color: #924f0b;
  color: #fff;
  font-size: 1.1em;
  border-style: none;
  box-shadow: #4c2702 2px 2px;
  padding: 0.2em;
  font-family: "Palanquin", sans-serif;
  margin: 1em;
}
#visitBtn {
  margin-bottom: 0.2em;
}

#moreFiltersBtn:hover,
#searchFormBtn:hover,
#contactBtn:hover,
#visitBtn:hover {
  background-color: #fff;
  color: #924f0b;
}

/* RESULTS */

#researchedProperties {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 4em;
  flex-wrap: wrap;
  height: fit-content;
}

#researchedPropertyCard {
  margin-top: 15em;
}

.containerPicResearched {
  width: 90%;
}
#resultsPreview {
  top: 65%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}
#resultsTitle {
  margin-bottom: -7em;
}

/*  SPOTLIGHT 3 LAST PROPERTIES */

#lastProperties {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  /* margin-bottom: 4em; */
}

.propertyCard {
  width: 32%;
  display: flex;
  justify-content: center;
  position: relative;
}

.containerPicSpotlight {
  width: 90%;
  height: 50%;
}

.propertyPic {
  margin-top: 2em;
  width: 100%;
  height: auto;
  object-position: center;
}

.propertyPreview {
  width: 60%;
  text-align: center;
  position: absolute;
  background-color: #fff;
  top: 35%;
  /* box-shadow:3px 3px 3px rgb(0, 0, 0); */
  box-shadow: rgba(19, 19, 20, 0.2) 0px 7px 29px 0px;
  padding-bottom: 0.5em;
}

.propertyPreview > div {
  text-align: center;
  font-family: "Palanquin", sans-serif;
}

/* GENERAL */

body {
  width: 100%;
  margin: auto;
}

.homePageTitles {
  color: #c58b03;
  font-size: 35px;
  padding-top: 2em;
  padding-left: 1em;
  font-family: "Palanquin", sans-serif;
  text-transform: uppercase;
}

#spotlightTitle {
  padding-bottom: 2em;
}

h4 {
  color: #c58b03;
  font-size: 26px;
  margin-bottom: 0.5em;
  font-family: "Palanquin", sans-serif;
  text-transform: uppercase;
}

h5 {
  color: #fff;
  margin-top: 1em;
  font-family: "Palanquin", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
}

#h6 {
  color: #c58b03;
  font-family: "Palanquin", sans-serif;
  text-transform: uppercase;
}

#nameCard,
#typeCard,
#locationCard,
#areaCard,
#numberOfPiecesCard,
#transactionCard,
#priceCard {
  text-align: center;
  padding: 0.1em;
}

#nameCard {
  font-size: larger;
  font-weight: bold;
}
/* HELLO HOME DESCRIPTION */

#helloHomeDescription,
#contactContent {
  background-color: #094351;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

#agencyTitle {
  padding-top: 0.1em;
}

#helloHomeDescription {
  flex-direction: column;
  min-height: 90vh;
  text-align: center;
}

#descriptionAgency {
  font-size: 20px;
  padding: 0.3em;
  font-family: "Palanquin", sans-serif;
}

#containerIllustrationAgency {
  width: 50%;
}

#agency-img {
  width: 70%;
  margin-bottom: 1em;
}

/* CONTACT SECTION */

#contactContent {
  justify-content: center;
  min-height: 50vh;
  width: 100%;
}

/* #contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:100%;
} */

#containerMap {
  display: flex;
  justify-content: space-between;
}

#containerAddress {
  display: flex;
  flex-direction: column;
}

#contactForm,
#contactDetails {
  width: 50%;
  padding-left: 1em;
}

#contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.3em;
}
#messageInput {
  width: 94%;
}

#nameDiv,
#contactDiv,
#messageDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0.5em;
}

#messageDiv {
  height: 4em;
}

#nameInput,
#firstNameInput,
#phoneInput,
#emailInput {
  width: 50%;
}

/* FOOTER */

#footer {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  opacity: 0.5;
}

/* MEDIA QUERIES */

@media (max-width: 1084px) {
  #helloHomeLogo {
    width: 110px;
  }

  #landingPage {
    height: 140vh;
  }
  #researchForm {
    width: 60%;
  }

  #insideForm {
    flex-direction: column;
  }

  #lastProperties {
    flex-wrap: wrap;
    height: fit-content;
  }

  .propertyCard {
    width: 45%;
    margin-top: 10em;
    margin-bottom: 8em;
  }

  #spotlightTitle {
    margin-bottom: -6em;
  }
  #helloHomeDescription {
    height: 45vh;
  }

  #containerMap {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .homePageTitles {
    font-size: 25px;
  }

  #descriptionAgency {
    font-size: 16px;
  }

  #lastProperties {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #desktopMenu {
    display: none;
  }

  #responsiveMenu {
    display: block !important;
  }

  #navBarResponsive {
    display: flex;
    flex-direction: column;
  }

  .propertyCard {
    margin-top: 6em;
    width: 85%;
  }

  .propertyPreview {
    top: 55%;
  }
}

@media (max-width: 480px) {
  #researchForm {
    width: 85%;
  }

  label,
  input,
  select,
  button {
    font-size: 16px;
  }

  .propertyPreview > div {
    font-size: 16px;
  }

  h5 {
    font-size: 20px;
  }

  #map {
    width: 250px;
    margin-bottom: 1em;
  }
}
